__pycache__/
*.pyc
*.pyo
*.pyd

.venv/

.vscode/

artifacts/
*.npy
*.pkl

model/*.csv

*.csv
*.parquet

*.png

*.pdf
*.docx
*.odp

*.aux
*.fdb_latexmk
*.log
*.fls
*.synctex.gz
*.bbl
*.blg

..odt#
..ods#

Other/*
Reading/*
Examples/*

gitignore