*.aux
*.fdb_latexmk
*.log
*.fls
*.synctex.gz
*.bbl
*.blg
*.bbl
.*.odt#
.*.ods#
*.docx
.venv
.vscode
.gitignore
*.parquet
*.png
__pycache__
Other/*
Reading/*
Examples
*.pdf
*.csv
Slides0502.odp
artifacts/
*.npy
*.pkl
model/*.csv
